@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Roboto;
}

body {
    text-align: center;
    height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
}

.container {
    text-align: left; /* Ajuste o alinhamento do texto */
    max-width: 500px; /* Define uma largura máxima para o conteúdo */
    background-color: #00aeef; /* Cor de fundo opcional */
    padding: 40px;
    border-radius: 20px;
}

.container {
    max-width: 800px; /* Aumente o tamanho do container conforme necessário */
}
table {
    width: 100%;
}
td, th {
    padding: 5px;
}
input[type="text"] {
    width: 50px; /* Ajuste a largura dos campos de entrada conforme necessário */
}

h1.treinos {
    text-align: center;
    padding-bottom: 40px ;
}